/*semantic elements*/
body {
	background-color: #252021;
	width: 960px;
}

ul {
	padding: 20px;
	font-size: 1.5em;
}

li {
	padding-left: 5px;
	padding-right: 5px;
	display: inline;
}

a {
	font-family: Revue, Arial;
	text-decoration: none;
	clear:left;	
	color: #252021;
}

a:hover {
	color: #D1393D;
}

a:visited {
	text-decoration: none;
}

h4 {
	font-family: Arial;
	font-size: 1em;
	color: #F1F1F1;	
	margin-top: 0;
	margin-bottom: 10px;
}

h1 {
	text-align: center;
	color: #F1F1F1;
}

p {
	text-align: center;
	color: #F1F1F1;
}

nav {
	border-radius: 10px;
	text-align: center;
}

figure {
	border-radius: 10px;
	float:left;
	
}
figcaption {

	font-family: Revue, Arial;
	color: #F1F1F1;
}

li a {
	color: #F1F1F1;
}

/*divs - logo, figure, footer-nav*/

#logo {
	border: 3px double #D1393D;
	border-radius: 10px;
	margin: 10px;
	float:left;
}

#figure {
	background-color: #585657;
	border-radius: 10px;
	margin: 10px;
	float: left;
	border: 3px double #D1393D;
}


#footer-nav {
	top: 10px;
}

#em {
	color: #D1393D;
}

/*divs - classes - header, body, footer*/

.header{
	height: 298px;
	background-color: #585657;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.image-links {
	border: 3px double #F1F1F1;
	padding: 10px;
	border-radius: 10px;
	background-color: #D1393D; 
	float: right;
	margin-right: 140px;
	margin-top: 30px;
	position: relative;
	bottom: 25px;
}

.image-links-bottom {
	border: 3px double #F1F1F1;
	padding: 10px;
	border-radius: 10px;
	background-color: #D1393D; 
	position: relative;
	bottom: 12.5px;
	width: 280px;
	margin: auto;
}

.body { 
	font-family: Arial;
	height: 300px;
	clear: left;
	margin: 10px;
	padding: 40px;
	text-align: center;
}

.par {
	padding: 10px;
	background-color: #585657;
	height: 309px;
	border-radius: 10px;
	border: 10px;
}

.copyright {
	color: #F1F1F1;
	text-align: center;
	display: inline-block;
}

.footer {
	margin: 10px;
	border-radius: 10px;
	padding-bottom: 10px;
	clear:left;
	background-color: #585657;
	text-align: center;
}

